<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <title>Shopping List App</title>
</head>
<body>
    <nav class="container-fluid navbar-default">
        <div class="navbar-header navbar-left">
            <a href="/" class="navbar-link"><h3>Shopping List App</h3></a>
        </div>
        <ul class="nav navbar-nav" style="margin-left: 20%;">
            <li>
                <a href="/stores">
                    <button type="button" class="btn btn-default btn-lg navbar-btn{{ " active" if view == "store" }}">Stores</button>
                </a>
            </li>
            <li>
                <a href="/routes">
                    <button type="button" class="btn btn-default btn-lg navbar-btn{{ " active" if view == "route" }}">Routes</button>
                </a>
            </li>
            <li>
                <a href="/lists">
                    <button type="button" class="btn btn-default btn-lg navbar-btn{{ " active" if view == "list" }}">Lists</button>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_anonymous() == True %}
                <li><a href="/profile"><button type="button" class="btn btn-default btn-md navbar-btn">Signup</button></a></li>
                <li><a href="/login"><button type="button" class="btn btn-default btn-md navbar-btn">Login</button></a></li>
            {% else %}
                <li><a href="/profile"><button type="button" class="btn btn-default btn-md navbar-btn">Profile</button></a></li>
                <li><a href="/logout"><button type="button" class="btn btn-default btn-md navbar-btn">Logout</button></a></li>
            {% endif %}
        </ul>
    </nav>
    <div id="message">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="alert alert-{{ category }}" style="margin-bottom: 0">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="jumbotron">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script type="application/javascript" src="/static/js/main.js"></script>
{#    <script src="/static/bower/jquery/dist/jquery.min.js"></script>#}
{#    <script src="/static/bower/jquery.serializeJSON/jquery.serializejson.min.js"></script>#}
</body>
</html>