{% import "macros.html" as macro with context %}

{% extends "base.html" %}
{% block content %}

    <div class="container row">
        <div id="stores-list-container" class="col-md-3">
            <h3 class="text-center">Store List</h3>
            {{ macro.stores_list("lists") }}
            <br>
            <h3 class="text-center">Shopping Lists</h3>
            <div id="lists-list list-group">
                {% for list in lists %}
                    <a class="list-group-item" href="/stores/{{ store.id }}/lists/{{ list.id }}">{{ list.date_name() }}</a>
                {% endfor %}
            </div>
            <br>
            <a href="/stores/{{ store.id }}/lists/new"><button type="button" class="btn btn-warning center-block">New List</button></a>
        </div>
        <div id="list-detail-container" class="col-md-9">
            {% if list %}
                <h3 class="text-center">List Detail</h3>
                <form name="list-detail" id="list-detail" method="post"
                action={% if list == "new" %}"/stores/{{ store.id }}/lists/new"{% else %}"/stores/{{ store.id }}/lists/{{ list.id }}"{% endif %} >

                <div class="col-md-12 form-group form-inline">
                    <label for="list.shop_date" class="col-md-2 control-label">Shop Date</label>
                    <input type="date" id="list.shop_date" name="List.{{ list.id }}.shop_date" class="col-md-4 form-control text-center"
                           value="{% if list != "new" %}{{ list.shop_date }}{% endif %}">

                    <label for="list.name" class="col-md-2 control-label">List Name (optional)</label>
                    <input type="text" id="list.name" name="List.{{ list.id }}.name" class="col-md-5 form-control"
                           value="{% if list != "new" %}{{ list.name }}{% endif %}">
                </div>

                </form>

                <div class="col-md-12 form-group form-inline pull-left">
                    <label for="list.route" class="col-md-2 control-label">Route</label>
                    <select name="List.{{ list.id }}.route_id" form="list-detail"  class="col-md-4 form-control text-center">
                        <option value="">No Route</option>
                        {% for route in routes %}
                            <option value="{{ route.id }}" class="text-center"
                                    {% if list.route_id == route.id %}selected{% endif %}>
                                {{ route.name }}
                            </option>
                        {% endfor %}
                    </select>
                    {% if list.route_id %}
                        <form name="route-edit" id="route-edit" method="get"
                              action="/stores/{{ list.store.id }}/routes/{% if list.route_id %}{{ list.route_id }}{% endif %}">
                            <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                        </form>
                    {% endif %}
                </div>


                <br>
                <div id="list-detail-listitems">
                    <br>
                    <br>
                    <h4 class="text-center">List Items</h4>
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <th class="col-md-3 text-center">Item Name</th>
                            <th class="col-md-3 text-center">Detail/Brand</th>
                            <th class="col-md-1 text-center">Quantity</th>
                            <th class="col-md-2 text-center">Measurement</th>
                            <th class="col-md-3 text-center">Group Name</th>
                            <th></th>
                        </tr>
                        {% for list_item in list_items %}
                            <tr>

                                <td><input type="text" name="ListItem.{{ list_item.id }}.item_name" form="list-detail" class="form-control"
                                           value="{{ list_item.item_name }}"></td>

                                <td><input type="text" name="ListItem.{{ list_item.id }}.item_notes" form="list-detail" class="form-control"
                                           value="{{ list_item.item_notes }}"></td>

                                <td><input type="text" name="ListItem.{{ list_item.id }}.item_quantity" form="list-detail" class="form-control text-center"
                                           value="{{ list_item.item_quantity }}"></td>

                                <td>
                                    <select name="ListItem.{{ list_item.id }}.item_measurement_id" form="list-detail"  class="form-control text-center">
                                        {% for item_measurement in item_measurements %}
                                            <option value="{{ item_measurement.id }}" class="text-center"
                                                    {% if list_item.item_measurement_id == item_measurement.id %}selected{% endif %}>
                                                {{ item_measurement.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>

                                <td>
                                    <select name="ListItem.{{ list_item.id }}.item_group_id" form="list-detail"  class="form-control">
                                        {% for route_group in route_groups %}
                                            <option value="{{ route_group.item_group.id }}"
                                                    {% if list_item.item_group_id == route_group.item_group.id %}selected{% endif %}>
                                                {{ route_group.item_group.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>

                                <form name="listitem-delete" id="listitem-delete" method="post"
                                      action="/lists/{{ list.id }}/listitems/{{ list_item.id }}/delete">
                                    <td><button type="submit" class="btn btn-danger btn-sm center-block">Delete Item</button></td>
                                </form>

                            </tr>
                        {% endfor %}
                    </table>
                    <form name="listitem-add" id="listitem-add" method="post" action="/lists/{{ list.id }}/listitems/new">
                        <button type="submit" class="btn btn-danger btn-sm">New Item</button>
                    </form>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button type="submit" form="list-detail" class="btn btn-primary center-block">Update List</button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}