{% import "macros.html" as macro with context %}

{% extends "base.html" %}
{% block content %}

    <div class="container row">
        <div id="stores-list-container" class="col-md-3">
            <h3 class="text-center">Store List</h3>
            {{ macro.stores_list("lists") }}
            <br>
            <h3 class="text-center">Shopping Lists</h3>
            <div id="lists-list list-group">
                {% for list_list in lists %}
                    <a class="list-group-item{{ " active" if list_list.id == list.id }}"
                       href="/stores/{{ store.id }}/lists/{{ list_list.id }}">{{ list_list.date_name() }}</a>
                {% endfor %}
            </div>
            <br>
            <a href="/stores/{{ store.id }}/lists/new"><button type="button" class="btn btn-warning center-block">New List</button></a>
        </div>
        <div id="list-detail-container" class="col-md-9">
            {% if list %}
                <h3 class="text-center">List Detail</h3>
                <form name="list-detail" id="list-detail" method="post"
                action={% if list == "new" %}"/stores/{{ store.id }}/lists/new"{% else %}"/stores/{{ store.id }}/lists/{{ list.id }}"{% endif %} >

                <div class="col-md-12 form-group form-inline">
                    <label for="list.shop_date" class="col-md-2 control-label">Shop Date (required)</label>
                    <input type="date" id="list.shop_date" name="List.{{ list.id }}.shop_date" class="col-md-4 form-control text-center"
                           value="{{ list.shop_date if list != "new" }}" required>

                    <label for="list.name" class="col-md-2 control-label">List Name (optional)</label>
                    <input type="text" id="list.name" name="List.{{ list.id }}.name" class="col-md-5 form-control"
                           value="{{ list.name if list != "new" }}">
                </div>

                </form>

                <div class="col-md-12 form-group form-inline pull-left">
                    <label for="list.route" class="col-md-2 control-label">Route</label>
                    <select name="List.{{ list.id }}.route_id" id="route.id" form="list-detail"  class="col-md-4 form-control text-center">
                        <option value="">No Route</option>
                        {% for route in routes %}
                            <option value="{{ route.id }}" class="text-center"
                                    {{ " selected" if list.route_id == route.id }}>
                                {{ route.name }}
                            </option>
                        {% endfor %}
                    </select>
                    {% if list.route_id %}
                        <form name="route-edit" id="route-edit" method="get"
                              action="/stores/{{ list.store.id }}/routes{{ "/" + list.route_id|string if list.route_id }}">
                            <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                        </form>
                    {% endif %}
                </div>


                <br>
                {% if list != "new" %}
                <div id="list-detail-listitems">
                    <br>
                    <br>
                    <h4 class="text-center">List Items</h4>
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <th class="text-center" style="width: 25%">
                                Item Name
                                <br/>
                                <button type="submit" class="btn btn-warning btn-xs"
                                        onclick=postFormData("/stores/{{ store.id }}/lists/{{ list.id }}/listitems/new","list-detail",responseRedirect)>
                                    New Item
                                </button>
                            </th>
                            <th class="text-center" style="width: 25%">Detail/Brand</th>
                            <th class="text-center" style="width: 5%">Quantity</th>
                            <th class="text-center" style="width: 15%">Measurement</th>
                            <th class="text-center" style="width: 25%">Group Name</th>
                            <th class="text-center" style="width: 5%"></th>
                        </tr>
                        {% for list_item in list_items %}
                            <tr>

                                <td><input type="text" name="ListItem.{{ list_item.id }}.item_name" id="list-item.name" form="list-detail" class="form-control"
                                           value="{{ list_item.item_name }}"></td>

                                <td><input type="text" name="ListItem.{{ list_item.id }}.item_notes" id="list-item.notes" form="list-detail" class="form-control"
                                           value="{{ list_item.item_notes }}"></td>

                                <td><input type="text" name="ListItem.{{ list_item.id }}.item_quantity" id="list-item.quantity" form="list-detail" class="form-control text-center"
                                           value="{{ list_item.item_quantity }}"></td>

                                <td>
                                    <select name="ListItem.{{ list_item.id }}.item_measurement_id" id="list-item.measurement"form="list-detail"  class="form-control text-center">
                                        <option></option>
                                        {% for item_measurement in item_measurements %}
                                            <option value="{{ item_measurement.id }}" class="text-center"
                                                    {{ " selected" if list_item.item_measurement_id == item_measurement.id }}>
                                                {{ item_measurement.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>

                                <td>
                                    <select name="ListItem.{{ list_item.id }}.item_group_id" form="list-detail" id="route-group" class="form-control">
                                        <option></option>
                                        {% for route_group in route_groups %}
                                            <option value="{{ route_group.item_group.id }}"
                                                    {{ " selected" if list_item.item_group_id == route_group.item_group.id }}>
                                                {{ route_group.item_group.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>

                                <td>
                                    <button type="submit" class="btn btn-danger btn-xs center-block"
                                            onclick=postFormData("/stores/{{ store.id }}/lists/{{ list.id }}/listitems/{{ list_item.id }}/delete","list-detail",responseRedirect)>
                                        Delete<br/>Item
                                    </button>
                                </td>

                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% endif %}
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button type="submit" form="list-detail" class="btn btn-success btn-lg center-block" style="float: left;">
                            {{ "Create List" if list == "new" else "Save List" }}
                        </button>
                        <a href="/stores/{{ store.id }}/lists/{{ list.id }}/print" target="_blank">
                            <button type="button" class="btn btn-info btn-lg center-block">
                                Printable/Viewable List
                            </button>
                        </a>
                    </div>
                    {% if list != "new" %}
                    <div class="pull-right">
                        <form name="list-delete" id="list-delete" method="post"
                                      action="/stores/{{ store.id }}/lists/{{ list.id }}/delete">
                            <button type="submit" class="btn btn-danger center-block">Delete<br/>List</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}