{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-8">
        <br/>
        <h2>Like making lists . . .</h2>
        <br/>
        <h2 style="text-align: right">. . . but find yourself wandering through the store . . .</h2>
        <br/>
        <h2>. . . backtracking and jumping around your list.</h2>
        <br/>
        <h3>Use the Shopping List App to:</h3>
        <ul>
            <li>Input your favorite stores</li>
            <li>Design your favored route through the store (1 - vegetables, 2 - dairy, 3 - meat)</li>
            <li>Create your shopping list and assign items to appropriate store sections/groups</li>
            <li><strong>Automatically sort your list to shop quickly and efficiently!</strong></li>
        </ul>
    </div>
    <div class="col-md-3 pull-right">
        <h3 class="text-center">Login</h3>
        <form method="POST" name="login" id="login" class="form-group">
            <label for="email" class="control-label">Email address</label>
            <input type="email" class="form-control" name="email" placeholder="Email address" required>
            <br>
            <label for="password" class="control-label">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" required>
            <br>
            <button type="submit" class="btn btn-md btn-success center-block">Login</button>
        </form>
        <br/>
        <br/>
        <a href="/profile">
            <button type="submit" class="btn btn-lg btn-success center-block">Signup</button>
        </a>
    </div>
</div>

{% endblock %}