{% import "macros.html" as macro with context %}

{% extends "base.html" %}
{% block content %}

    <div class="container row">
        <div id="stores-list-container" class="col-md-3">
            <h3 class="text-center">Store List</h3>
            {{ macro.stores_list() }}
            <br>
            <a href="/stores/new"><button type="button" class="btn btn-warning center-block">New Store</button></a>
        </div>
        <div id="store-detail-container" class="col-md-6">
            {% if store %}
                <h3 class="text-center">Store Detail</h3>
                <form name="store-detail" class="form-horizontal" id="store-detail" method="post"
                action={% if store == "new" %}"/stores/new"{% else %}"/stores/{{ store.id }}"{% endif %} >

                    <label for="store.name" class="col-md-3 control-label">Name</label>
                    <div class="form-group">
                        <div class="col-md-8"><input type="text" id="store.name" name="Store.{{ store.id }}.name" class="form-control"
                                                     value="{% if store != "new" %}{{ store.name }}{% endif %}"></div>
                    </div>

                    <label for="nickname" class="col-md-3 control-label">Nickname</label>
                    <div class="form-group">
                        <div class="col-md-8"><input type="text" id="nickname" name="UserStore.{{ current_user.get_id() }} {{ store.id }}.nickname" class="form-control"
                                                     value="{% if store != "new" %}{{ store.user[0].nickname }}{% endif %}"></div>
                    </div>

                    <label for="store.street_address" class="col-md-3 control-label">Street Address</label>
                    <div class="form-group">
                        <div class="col-md-8"><input type="text" id="store.street_address" name="Store.{{ store.id }}.street_address" class="form-control"
                                                     value="{% if store != "new" %}{{ store.street_address }}{% endif %}"></div>
                    </div>

                    <label for="store.city" class="col-md-3 control-label">City</label>
                    <div class="form-group">
                        <div class="col-md-8"><input type="text" id="store.city" name="Store.{{ store.id }}.city" class="form-control"
                                                     value="{% if store != "new" %}{{ store.city }}{% endif %}"></div>
                    </div>

                    <label for="store.state" class="col-md-3 control-label">State</label>
                    <div class="form-group">
                        <div class="col-md-8"><input type="text" id="store.state" name="Store.{{ store.id }}.state" class="form-control"
                                                     value="{% if store != "new" %}{{ store.state }}{% endif %}"></div>
                    </div>

                    <label for="store.postal_code" class="col-md-3 control-label">Zip Code</label>
                    <div class="form-group">
                        <div class="col-md-8"><input type="text" id="store.postal_code" name="Store.{{ store.id }}.postal_code" class="form-control"
                                                     value="{% if store != "new" %}{{ store.postal_code }}{% endif %}"></div>
                    </div>

                    <label for="store.country" class="col-md-3 control-label">Country</label>
                    <div class="form-group">
                        <div class="col-md-8"><input type="text" id="store.country" name="Store.{{ store.id }}.country" class="form-control"
                                                     value="{% if store != "new" %}{{ store.country }}{% endif %}"></div>
                    </div>

{#                    <label for="store.default" class="col-md-3 control-label">Default</label>#}
{#                    <div class="form-group">#}
{#                        <div class="col-md-2"><input type="checkbox" id="store.default" name="UserStore.{{ store.id }}.default" class="form-control"#}
{#                                                     {% if store != "new" %}{% if store.default %}checked{% endif %}{% endif %}></div>#}
{#                    </div>#}

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-6">
                            <button type="submit" class="btn btn-primary center-block">Update Store</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}