{% extends "base.html" %}
{% import "macros.html" as macro with context %}

{% block content %}

    <div class="container row">
        <div id="stores-list-container" class="col-md-3">
            <h3 class="text-center">Store List</h3>
            {{ macro.stores_list() }}
            <br>
            <a href="/stores/new"><button type="button" class="btn btn-warning center-block">New Store</button></a>
        </div>
        <div id="store-detail-container" class="col-md-6">
            {% if store %}
                <h3 class="text-center">Store Detail</h3>
                <form name="store-detail" class="form-horizontal" id="store-detail" method="post"
                action={% if store == "new" %}"/stores/new"{% else %}"/stores/{{ store.id }}"{% endif %} >

                    <label for="store.name" class="col-md-3 control-label">Name (required)</label>
                    <div class="form-group">
                        <div class="col-md-8"><input type="text" id="store.name" name="Store.{{ store.id }}.name" class="form-control"
                                                     value="{{ store.name if store != "new" }}" required></div>
                    </div>

                    <label for="nickname" class="col-md-3 control-label">Nickname</label>
                    <div class="form-group">
                        <div class="col-md-8"><input type="text" id="nickname"
                                                     name="UserStore.{% if store != "new" %}{{ store.user[0].user_id }}{% endif %} {{ store.id }}.nickname" class="form-control"
                                                     value="{{ store.user[0].nickname if store != "new" }}"></div>
                    </div>

                    <label for="store.street_address" class="col-md-3 control-label">Street Address</label>
                    <div class="form-group">
                        <div class="col-md-8"><input type="text" id="store.street_address" name="Store.{{ store.id }}.street_address" class="form-control"
                                                     value="{{ store.street_address if store != "new" }}"></div>
                    </div>

                    <label for="store.city" class="col-md-3 control-label">City</label>
                    <div class="form-group">
                        <div class="col-md-8"><input type="text" id="store.city" name="Store.{{ store.id }}.city" class="form-control"
                                                     value="{{ store.city if store != "new" }}"></div>
                    </div>

                    <label for="store.state" class="col-md-3 control-label">State</label>
                    <div class="form-group">
                        <div class="col-md-8"><input type="text" id="store.state" name="Store.{{ store.id }}.state" class="form-control"
                                                     value="{{ store.state if store != "new" }}"></div>
                    </div>

                    <label for="store.postal_code" class="col-md-3 control-label">Zip Code</label>
                    <div class="form-group">
                        <div class="col-md-8"><input type="text" id="store.postal_code" name="Store.{{ store.id }}.postal_code" class="form-control"
                                                     value="{{ store.postal_code if store != "new" }}"></div>
                    </div>

                    <label for="store.country" class="col-md-3 control-label">Country</label>
                    <div class="form-group">
                        <div class="col-md-8"><input type="text" id="store.country" name="Store.{{ store.id }}.country" class="form-control"
                                                     value="{{ store.country if store != "new" }}"></div>
                    </div>
                </form>
                <div class="form-group form-inline">
                    <div class="col-md-12">
                        <button type="submit" form="store-detail" class="btn btn-success btn-lg center-block">
                            {{ "Create Store" if store == "new" else "Save Store" }}
                        </button>
                    </div>
                    {% if store != "new" %}
                    <div class="pull-right">
                        <form name="store-delete" id="store-delete" method="post"
                                      action="/stores/{{ store.id }}/delete">
                            <button type="submit" class="btn btn-danger">Delete<br/>Store</button>
                        </form>
                    </div>
                    {% endif %}
                </div>

            {% endif %}
        </div>
    </div>

{% endblock %}