{% extends "base.html" %}
{% block content %}

    <h2>Routes</h2>

    <div class="container row">
        <div id="stores-list-container" class="col-md-3">
            <h3 class="text-center">Stores</h3>
            <div id="stores-list list-group">
                {% for store in stores %}
                    <a class="list-group-item" href="/stores/{{ store.store.id }}/routes">{{ store.nickname }}</a>
                {% endfor %}
            </div>
            <br>
            <h3 class="text-center">Routes</h3>
            <div id="routes-list list-group">
                {% for route in routes %}
                    <a class="list-group-item" href="/stores/{{ store.id }}/routes/{{ route.id }}">{{ route.name }}</a>
                {% endfor %}
            </div>
            <br>
            <a href="/stores/{{ store.id }}/routes/new"><button type="button" class="btn btn-warning center-block">New Route</button></a>
        </div>
        <div id="route-detail-container" class="col-md-5">
            {% if route != "empty" %}
                <form name="route-detail" id="route-detail" class="form-horizontal" method="post"
                action={% if route == "new" %}"/stores/{{ store.id }}/routes/new"{% else %}"/stores/{{ store.id }}/routes/{{ route.id }}"{% endif %} >

                    <label for="route.name" class="col-md-2 control-label">Name</label>
                    <div class="form-group">
                        <div class="col-md-7"><input type="text" id="route.name" name="Route.{{ route.id }}.name" class="form-control"
                                                     value="{% if route != "new" %}{{ route.name }}{% endif %}"></div>
                    </div>

                </form>
                <br>
                <div id="route-detail-itemgroups">
                    <table class="table table-bordered table-condensed">
                        <tr>
                            <th class="col-md-6 text-center">Group Name</th>
                            <th class="col-md-2 text-center">Sort Order</th>
                            <th></th>
                        </tr>
                        {% for route_group in route_groups %}
                            <tr>
                                <td>
                                    <select name="RouteGroup.{{ route_group.id }}.item_group_id" form="route-detail"  class="form-control">
                                        {% for item_group in item_groups %}
                                            <option value="{{ item_group.id }}"
                                                    {% if route_group.item_group.id == item_group.id %}selected{% endif %}>{{ item_group.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><input type="text" name="RouteGroup.{{ route_group.id }}.route_order" form="route-detail" class="form-control text-center"
                                           value="{{ route_group.route_order }}"></td>
                                <form name="routegroup-delete" id="routegroup-delete" method="post"
                                      action="/routes/{{ route.id }}/routegroups/{{ route_group.id }}/delete">
                                    <td><button type="submit" class="btn btn-danger btn-sm center-block">Delete Group</button></td>
                                </form>
                            </tr>
                        {% endfor %}
                    </table>
                    <form name="routegroup-add" id="routegroup-add" method="post" action="/routes/{{ route.id }}/routegroups/new">
                        <button type="submit" class="btn btn-danger btn-sm">New Group</button>
                    </form>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <button type="submit" form="route-detail" class="btn btn-primary center-block">Update Route</button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}